body {
  font-family: $form-font;
  color: $primary-color-dark;
  margin: 0;
}

section {
  overflow: auto;
  display: grid;
}

#site {
  section {  
    &#hero {
      min-height: 25vh;
      min-width: 100vw;
      border-bottom: 1px solid $divider-color;
      h1 {
        padding-left: 1em;
      }
    }

    &#about {
      grid-template-rows: 30px 1fr;
      padding-left: 1em;
      background-image: linear-gradient($primary-color, $primary-color-light);
      min-height: 25vh;
      min-width: 100vw;
      line-height: 2em;
      border-bottom: 1px solid $divider-color;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
    }

    &#signup-form {
      grid-template-rows: 30px 1fr;
      justify-content: center;
      align-items: center;
      background: $primary-color-light;
      min-height: 25vh;
      min-width: 100vw;
      display: grid;
      grid-template-rows: auto;

      .btn:hover,
      .btn:focus {
        box-shadow: inset 0px 0px 0px 2px $accent-color;
      }

      #preview-link {
        color: $primary-color-dark;
      }

      input[type=email] {
        height: 42px;
        border: 1px solid $accent-color;
        min-width: 40ch;
      }

      button {
        height: 48px;
        font-size: 1rem;
        margin-left: 8px;
      }

      button:hover {
        text-decoration: none;
      }

      #btn {
        background: $primary-color-dark;
        color: $primary-color-light;
        font-weight: 200;
        letter-spacing: 1px;
        transition: 300ms;
      }
    }
  }
}

@include medium-media {
  
  #site {
    section {  
      &#hero {
        @include background-template('photos/DSC01401.JPG');
        min-height: 100vh;
        min-width: 100vw;

        h1 {
          color: $primary-color-light;
          font-weight: 500;
          font-size: 3rem;
          align-self: center;
          padding-left: 1em;
        }
      }
    }
  }
}

