@mixin small-media() {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin medium-media() {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin large-media() {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin background-template($url) {
  background-image: 
    url($url); 
  background-size: cover;
  filter: opacity(65%);
}
